/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
    line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Light.eot');
    src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Light.woff') format('woff'),
        url('fonts/Raleway-Light.ttf') format('truetype'),
        url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-LightItalic.eot');
    src: url('fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-LightItalic.woff') format('woff'),
        url('fonts/Raleway-LightItalic.ttf') format('truetype'),
        url('fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-MediumItalic.eot');
    src: url('fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-MediumItalic.woff') format('woff'),
        url('fonts/Raleway-MediumItalic.ttf') format('truetype'),
        url('fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Medium.eot');
    src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Medium.woff') format('woff'),
        url('fonts/Raleway-Medium.ttf') format('truetype'),
        url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-BoldItalic.eot');
    src: url('fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Italic.eot');
    src: url('fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Italic.woff') format('woff'),
        url('fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Bold.eot');
    src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.eot');
    src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



body{
    color:#2d2d2d;
    max-width:1240px;
    margin:0 auto;
    font-family: 'Raleway';
    font-size: 16px;
}

.site-header{
    display: flex;
    justify-content: space-around;
    height:100px;
    background-color:white;
    position:fixed;
    width: 100%;
    z-index:1;
}

.logo{
    flex: 0 1 20%;
}

.logo img{
    padding-top: 20px;
    padding-left: 30px;
    max-width: 190px;
   
}

.main-navigation{
    flex:0 1 60%;
    padding-top:45px;
}


.main-navigation li{
    display:inline-block;
    text-transform:uppercase; 
}


.main-navigation li a{
color:#e2574c;
text-decoration:none;
margin:15px;
}


.container{
    text-align:center;
}


.cart{
    flex:1 0 2%;
}

.cart-img{
    height: 90px;
    padding-bottom: 10px;
    padding-left: 160px;
    padding-top: 20px;
}


.banner{
    margin:0 auto;
    height:500px;
    font-size:50px;
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)) ,url(images/banner-girl.png) no-repeat center 75px, url(images/flower-bkgd.jpg);
    background-size: contain;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
   
}


.banner-text{
    color: white;
    margin:0 auto;
    padding-top:200px;
}



.heading{
    font-family:'Playfair Display';
    font-size:40px;
}

.collection{
    font-size:20px;
    padding-bottom:20px;
    text-transform: uppercase;
    
}

.season{
    font-size:55px;
   
}

.about{
    height:100px;
    padding-top:60px;
    padding-bottom:30px;
}


.italic{
    font-family:'Playfair Display';
    font-style:italic;
}


.focus{
    font-family:'Playfair Display';
    font-weight: bold;
}

.description{
        
        padding-top: 25px;
        line-height: 2;
        max-width: 595px;
        margin: 0 auto;
        font-weight: 200;
        font-size: 18px;
    
}

.products ul{
   
    text-transform: uppercase;
    font-size:25px;
    display:flex;
    flex-wrap:wrap;
    height:700px;
    padding-top: 150px;

}

.products a{
    color:white;
    text-decoration:none;
}

.products li{
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products span{
    font-size: 35px;

}

.first{
    width:50%;
    justify-content:flex-start;
}

.second{
    width:50%;
    justify-content:flex-end;
}



.mens{
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(images/mens-category.jpg) no-repeat center ;
    background-size:100% 100%; 
    border-right: white solid 7px;
    border-bottom: white solid 7px;
}

.trends{
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(images/trends-category.jpg);
    background-size:100% 100%;
    max-width:25%;
    border-right: white solid 7px;
    border-bottom: white solid 7px;
}

.glasses{
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)) ,url(images/glasses-category.jpg);
    background-size:100% 100%;
    max-width:25%;
    border-bottom: white solid 7px;
}

.sales{
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(images/sale-category.jpg);
    background-size:100% 100%;
    max-width:25%;
    border-right: white solid 7px;
}

.bags{
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(images/bags-category.jpg);
    background-size:100% 100%;
    max-width:25%;
    border-right: white solid 7px;
}

.womens{
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(images/womens-category.jpg);
    background-size:100% 100%;
}

.featured{
    margin:40px;
    height:500px;
}

.featured img{
    height:200px;
    width:200px;
    margin-bottom:20px;

}

.featured h4{
    color:#969696;
    font-size: 16px;
    text-transform:uppercase;
    font-family:'Raleway';
    
}

.product-all{
    /* border: dotted 1px; */
    padding-bottom: 40px;
    margin-top: 20px;
    padding-top: 40px;
}

.product-click{
     border: dotted 1px;
}

.nav-click{
    border: dotted 1px #e2574c;
}

.product p{
    color:#e2574c;
    font-size:20px;
}

.product{
    width:25%;
}

.product-focus{
    border: 1px dotted #fefec8;
}

.flickity-prev-next-button{
    display:none;
}

#name{
    font-size:12px;
}

.newsletter{
    background: url("images/wave-bkgd.jpg") no-repeat bottom ; 
    background-size:cover;
    height:300px;
    color:white;   
    border-bottom: 5px white solid;

}

input{
    width: 300px;
    height: 30px;
    border-radius: 50px;
}

input[type="text"] {
    max-width: 60%;
    height: 20px;
    padding-right: 50px;
}

input[type="submit"] {
    margin-left: -98px;
    width: 90px;
    background-color: #e2574c;
    color: white;
    font-size: 12px;
}




.footer-position{
    
    padding-top:50px;
    text-align:center;
}

.updates{
    margin-bottom:20px;
}

.subscription-info{
    line-height:2;

    
    padding-left: 325px;
    padding-right: 325px;
}

.sign-up-form{
    padding-top:20px;
}

.site-footer{
    background:#242424;
    display: flex;
    flex-flow: column wrap;
    height:250px;
    
}


.footer-info{
    padding-left:60px;
}


.footer-contact{
    color:white;
    padding-top:50px;
}

.address{
    color:#969696;
   
}

.media{
    color:white;
    padding-left:55%;
    padding-top: 50px;
    line-height:2;
}

.media-list a{
    text-decoration:none;
    color:white;
    font-weight:200;
    padding-left:10px;
}

a:hover{
    color:#fefec8;
}

/* media query for 600 */

@media all and (max-width: 600px){

    body{
        min-width: 600px;
    }

    .heading {
        font-size:40px;
    }


    .site-header{
        height:80px;
    }

    .logo img{
        max-width: 130px;
        padding-left: 10px;
        padding-top: 20px;
    }

    .main-navigation{
            flex: 0 1 60%;
            padding-top: 35px;
            font-size: 14px;
        
    }

    .main-navigation li a{
        margin:10px;
    }

    .cart-img{
        padding-left: 45px;
        height:80px;
      
    }

    .banner{
        margin: 0 auto;
        height: 380px;
        font-size: 50px;
        background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(images/banner-girl.png) no-repeat center 25px, url(images/flower-bkgd.jpg);
        background-size: contain;

    }

    .banner-text{
        padding-top:150px;
    }

    .about{
        height:150px;
        padding-top:60px;
    }

    .description{
        padding-top:30px;
        color: black;
        font-weight:100;
        font-size:19px;
    }

    .season{
        font-size:40px;
    }

    .collection{
        font-size:20px;
        text-transform:uppercase;
    }

    .media{
        padding-left: 110px;
    }

    .product-all{
        padding-bottom:55px;
    }

    .product{
        width:50%;
    }


    .products ul{
        height:500px;
    }

    .featured{
        height:550px;
        padding-top: 20px;
    }

    .subscription-info {
        line-height: 2;
        width: 92%;
        font-weight: 300;
        padding-left: 0;
        padding-right: 0;
    }

    .footer-position{
        min-width: 90%;
        padding-left: 25px;
    }

    .footer-info{
        padding-left:10px;
    }



    .newsletter{
        background-size:auto;
    }
}

/* media query for 480 */

@media all and (max-width: 480px){

    body{
        min-width: 480px;
    }

    .heading{
        font-size:35px;
 
    }

    .site-header{
        flex-wrap: wrap;
        margin-bottom:20px;  
        display: flex;
        justify-content: space-around;
        height:100px;
        position:relative;

    }

    .collection{
        font-size:18px;
    }

   .logo{
       order:1;
       
   }

   .logo img{
        max-width: 130px;
        padding-top: 15px;
   }

   .main-navigation{
        order: 3;
        padding-top: 15px;
        min-width: 100%;
        font-size: 14px;
        border-top: solid grey 1px;
        font-weight: 600;
   }

   .cart{
       order:2;
       
   }

   .cart-img{
        height: 75px;
        max-width: 1600px;
        padding-left: 290px;
        padding-top: 15px;
        padding-bottom: 10px;
    
   }

   .banner{
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url("images/banner-girl.png") no-repeat center 55px, url("images/flower-bkgd.jpg");
    background-size: cover,150px 370px,cover;;
   }

   .banner-text{
       padding-top:150px;
   }

   .styles{
        min-width:100%;
        padding-top:10px;
        padding-bottom:5px;
   }


   .about{
       padding-top:55px;
       height:150px;
   }

   .description {
    display: block;
    color: black;
    font-size: 16px;
    width: 450px;
}

  



   .products ul{
       height:1000px;
       }

    
    .mens{
        border-top:8px solid white;
    }
    
    .womens{
        border-top:8px solid white;
    }

   .mens, .womens{
       min-width:100%;
       text-align:center;
       height:auto;
       border-right:none;
   }

   .trends, .glasses, .sales, .bags{
       min-width:50%;
       text-align:center;
       height:auto;
       border-right:none;

   }

   .sales{
    border-right: 8px solid white;
    }

    .glasses{
        border-bottom: 8px solid white;
    }

    .trends{
        border-right:8px solid white;
    }

   .product{
       width:100%;
   }
   
   .newsletter{
       background-size:auto;
   }

   .footer-position{
       min-width: 90%;
       padding-left: 25px;
   }

   .footer-info{
       text-align:center;
       padding-left:0;
   }

   .footer-contact{
       padding-top: 30px;
   }

   .site-footer{
       flex-flow:column nowrap; 
       padding-bottom: 40px;
       font-size:14px;
       font-weight:350;
   }

   .media{
       padding-left:0;
       padding-top:20px;
   }

   .media-list{
       display:flex;
       justify-content: center;
   }

   .media-list a{
       display:none;
   }

   .media-list i{
       padding:10px;
   }  
}








